Source: haskell-happstack-extra
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts, hscolour,
               ghc6 (>= 6.8),
               ghc6-doc,
               ghc6 (>= 6.12) | haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-extra-prof (>= 1.28),
               libghc6-extra-doc (>= 1.28),
               libghc6-happstack-data-prof,
               libghc6-happstack-ixset-prof,
               libghc6-happstack-server-prof,
               libghc6-happstack-state-prof,
               libghc6-happstack-util-prof,
               haskell-happstack-util-doc,
               libghc6-happstack-prof,
               haskell-happstack-doc,
               libghc6-harp-prof (>= 0.4),
               libghc6-harp-doc (>= 0.4),
               libghc6-hsp-prof (>= 0.4.4),
               libghc6-hsp-doc (>= 0.4.4),
               libghc6-hsx-prof (>= 0.4.4),
               libghc6-hsx-doc (>= 0.4.4),
               libghc6-rjson-prof,
               libghc6-rjson-doc,
               libghc6-utf8-string-prof,
               libghc6-utf8-string-doc,
	       libghc6-applicative-extras-prof (>= 0.1.5),
	       libghc6-applicative-extras-doc (>= 0.1.5),
	       libghc6-formlets-prof (>= 0.4.8-5),
	       haskell-formlets-doc (>= 0.4.8-5),
	       libghc6-syb-with-class-prof,
               libghc6-syb-with-class-instances-text-prof,
               haskell-syb-with-class-instances-text-doc,
               trhsx,
               libghc6-feed-prof,
               haskell-feed-doc,
               libghc6-pandoc-prof,
               libghc6-xml-prof,
               libghc6-xml-doc | haskell-xml-doc,
               libghc6-html-entities-prof
Standards-Version: 3.7.2.2

Package: libghc6-happstack-extra-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Components built on top of Happstack+HSP
  A collection of components built on top of Happstack+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the normal library files.

Package: libghc6-happstack-extra-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Components built on top of Happstack+HSP
  A collection of components built on top of Happstack+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the libraries compiled with profiling enabled.

Package: haskell-happstack-extra-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Conflicts: libghc6-happstack-extra-doc
Replaces: libghc6-happstack-extra-doc
Description: Components built on top of Happstack+HSP
  A collection of components built on top of Happstack+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the documentation files.
