Source: haskell-happs-extra
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts-cdbs,
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-hsp-prof (>= 0.4.4),
               haskell-hsp-doc (>= 0.4.4),
               libghc6-harp-prof (>= 0.4),
               haskell-harp-doc (>= 0.4),
	       libghc6-happs-server-prof,
	       haskell-happs-server-doc,
	       trhsx
Standards-Version: 3.7.2.2

Package: libghc6-happs-extra-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends},
         libghc6-hsp-dev (>= 0.4.4),
         libghc6-harp-dev (>= 0.4)
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the normal library files.

Package: libghc6-happs-extra-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends},
         libghc6-happs-extra-dev,
         libghc6-hsp-prof (>= 0.4.4),
         libghc6-harp-prof (>= 0.4)
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the libraries compiled with profiling enabled.

Package: haskell-happs-extra-doc
Architecture: all
Section: libdevel
Depends: ${haskell:Depends},
         ghc6-doc,
         haskell-hsp-doc (>= 0.4.4),
         haskell-harp-doc (>= 0.4)
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the documentation files.
