Source: haskell-happs-extra
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts-cdbs,
               cabal-debian (>= 0.7),
               cabal-debian,
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-extra-prof (>= 1.28),
               libghc6-extra-doc (>= 1.28),
               libghc6-happs-data-prof,
               libghc6-happs-data-doc,
               libghc6-happs-ixset-prof,
               libghc6-happs-ixset-doc,
               libghc6-happs-server-prof (>= 0.9.2.2),
               libghc6-happs-server-doc (>= 0.9.2.2),
               libghc6-happs-state-prof,
               libghc6-happs-state-doc,
               libghc6-happs-util-prof,
               libghc6-happs-util-doc,
               libghc6-harp-prof (>= 0.4),
               libghc6-harp-doc (>= 0.4),
               libghc6-hsp-prof (>= 0.4.4),
               libghc6-hsp-doc (>= 0.4.4),
               libghc6-hsx-prof (>= 0.4.4),
               libghc6-hsx-doc (>= 0.4.4),
               libghc6-html-prof,
               libghc6-html-doc,
               libghc6-mtl-prof,
               libghc6-mtl-doc,
               libghc6-network-prof,
               libghc6-network-doc,
               libghc6-regex-compat-prof,
               libghc6-regex-compat-doc,
               libghc6-rjson-prof,
               libghc6-rjson-doc,
               libghc6-utf8-string-prof,
               libghc6-utf8-string-doc,
	       libghc6-parsec-prof,
	       libghc6-parsec-doc,
	       libghc6-applicative-extras-prof,
	       libghc6-applicative-extras-doc,
	       libghc6-formlets-prof,
	       libghc6-formlets-doc,
	       libghc6-formlets-hsp-prof,
	       libghc6-formlets-hsp-doc,
	       libghc6-syb-with-class-prof,
	       libghc6-syb-with-class-doc,
               trhsx
Standards-Version: 3.7.2.2

Package: libghc6-happs-extra-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the normal library files.

Package: libghc6-happs-extra-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-happs-extra-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Components built on top of HAppS+HSP
  A collection of components built on top of HAppS+HSP, including
  Google Analytics, a Calendar widget, and more.
  .
  Author: jeremy@n-heptane.com
  Upstream-Maintainer: jeremy@n-heptane.com
  .
  This package contains the documentation files.
